/*
 * Typeface intro 
 * ----------------------------------------------------------- */

.typeface {
	background-color: var(--col-bg-grey);
}

.typeface--info {
	margin: 3rem auto;
	padding: 3rem;
}

.type-intro h1 {
	margin-bottom: 0.5rem;;
}

.type-intro p {
	color: var(--col-text-light);
	@include font-size(1.6);
}


.type-tester {
	margin: 3.5rem 0;
}




.type-about {
	display: grid;
	grid-template-columns: 1fr;
	border-top: 1px solid var(--col-border);
	padding-top: 4em;
}

.type-about > * {
	margin-bottom: 3em;
}

.about-typeface p {
	@include font-size(2.4);
}

.about-student h3 {
	@include font-size(1.6);
	color: var(--col-typewest);
	
}

@media screen and ( min-width: 64em ) {
	
	.type-about {
		grid-template-columns: repeat(12, 1fr);
	}

	.about-typeface { grid-column: 1 / 7; }
	.about-student { grid-column: 8 / -1; }
	
}


/* Figcaption */

figure {
	position: relative;
}

figure img {
	position: relative;
	z-index: 99;
}

figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2em;
	background-color: var(--col-page);
	z-index: 100;
	padding: 0.1em 1em;
	text-align: right;
	opacity: 0;
	@include link-effect();
}

figure:hover figcaption {
	opacity: 1;
}
.hidden {
	//display: none;
}