/*
 * Typeface intro 
 * ----------------------------------------------------------- */

.typeface { background-color: var(--col-bg-grey); }

.typeface--info {
	margin: 3rem auto;
	padding: 3rem;
}

.type-intro h1 { margin-bottom: 0.5rem; }

.type-intro p {
	color: var(--col-text-light);
	@include font-size(1.6);
}

.type-tester { margin: 3.5rem 0; }

.type-about {
	display: grid;
	grid-template-columns: 1fr;
	border-top: 1px solid var(--col-border);
	padding-top: 4em;
}

.type-about > * { margin-bottom: 3em; }
.about-typeface p { @include font-size(2.4); }

.about-student h3 {
	@include font-size(1.6);
	color: var(--col-typewest);
}

@media screen and ( min-width: 64em ) {
	
	.type-about { grid-template-columns: repeat(12, 1fr); }

	.about-typeface { grid-column: 1 / 7; }
	.about-student { grid-column: 8 / -1; }
}

/*
 * Typeface Figcaption 
 * ----------------------------------------------------------- */

figure { position: relative; }

figure img {
	position: relative;
	z-index: 99;
	margin: 0 auto;
}

figcaption {
	position: absolute;
	top: 0;
	right: 0;
	width: auto;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 100;
	padding: 1em 0.1em;
	text-align: left;
	opacity: 0;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	@include link-effect();
}

figure:hover figcaption { opacity: 1; }
