@font-face {
	font-family: 'Fritzchen';
	src: url('../specimens/fritzchen/Fritz-Regularcl.woff') format('woff');
}

@font-face {
	font-family: 'Verrückt';
	src: url('../specimens/verruckt/Verruckt-Black.woff') format('woff');
}

/*
@font-face {
	font-family: 'TypefaceName';
	src: url('../specimens/typefaceName/Typeface-Style.woff') format('woff');
}
*/