@font-face {
	font-family: 'Kermie';
	src: url('../specimens/kermie/Kermie-Italic_otf-LauraTsunoda.woff2') format('woff');
}

@font-face {
	font-family: 'Pasteur';
	src: url('../specimens/pasteur/cheeseVF-DavidHuang.woff') format('woff');
}

@font-face {
	font-family: 'Fritzchen';
	src: url('../specimens/fritzchen/Fritz-Regularcl.woff') format('woff');
}

@font-face {
	font-family: 'Verrückt';
	src: url('../specimens/verruckt/VerrucktDisplay-Black.woff') format('woff');
}

/*
@font-face {
	font-family: 'TypefaceName';
	src: url('../specimens/typefaceName/Typeface-Style.woff') format('woff');
}
*/